
div {
  /*border: solid 1px #000;*/
  padding: .25em;
}

button#value{
	/*width:80%;*/
	max-width:80%;
	text-overflow: ellipsis;
}

div.pills {
	display: block;
    vertical-align:top;
}

div.pills.inline-block div.pill {
	display: inline-block !important;
	margin-right:10px;
}

div.container{
	display: inline-block !important;
	width: inherit;
	margin-left:-8px;
}

