html {
}
body {
  height:89%;
  margin-top:75px;
  /*background: #eee;*/
}
div {
  /*border: solid 1px #000;*/
  padding: .25em;
}

div.pills {
  padding-right: 15px;
}

div.pill {
  display: block !important;
  margin-right: 15px;
  padding-left: 0px;
  clear: both;
}

div.pill-key, div.pill-value {
  float: left;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
}

div.pill-key {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
  padding: 6px 12px;
  margin-bottom: 10px;
}

div.pill-value {
  max-width:80%;
  text-overflow: ellipsis;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: solid 1px #ccc;
  padding: 5px 12px;
}

div.pills {
  display: block;
}

div.boxes {
  height:100%;
}

div.pills.inline-block div.pill {
  display: inline-block !important;
  margin-bottom: 0;
}

div.container {
  display: inline-block !important;
  width: inherit;
  margin-left:6px;
}

div.panel-body {
  padding:1px;
  background: none;
  overflow: scroll;
  max-height:100%;
}
div.panel, div.panel-heading, div.panel-title{
  background-color: none !important;
  background: none;
}

.panel > .panel-heading {
  border:none;
  background-color: white !important;
  border-color: white !important;
}

div.container {
  padding:5px;
  vertical-align:top;
}

header {
  position: fixed;
  width:100%;
  padding-right:20px;
  top:0px; left:0px;
  z-index:5;
  background: white;
}

header form {
  float:right;
}

header h2 {
  margin-top:15px;
  float: left;
}

footer {
  position: fixed;
  width:100%;
  padding:10px;
  /*bottom:-20px; left:0px;*/ /*for breadcrumbs*/
  bottom:0px; left:0px; /*for instructions*/
  z-index:5;
}

#port {
  /*background: white;*/
  /*height:100%;*/
  min-height:95%;
  /*max-height:100%;*/
  overflow: auto;
  /*max-height:570px;*/
  /*overflow: scroll;*/
  /*border: 2px solid grey;*/
}

.dropShadow{
}